# Ignore all .h5 files:
*.h5

# Ignore all .nc files:
*.nc

# Ignore all .ps files:
*.ps

# Ignore all .dat files:
*.dat

# Ignore all .png files:
*.png

# Ignore all .pdf files in fidasim_files/:
fidasim_files/**/*.pdf
cql3d_files/**/*.pdf
run_dir/**/*.pdf

# Ignore all files relating to pycharm env:
.idea/

__pycache__
*.asv
superseded/
