contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
f90nml==1.4.4
fonttools==4.25.0
h5py @ file:///work/perseverance-python-buildout/croot/h5py_1698847362801/work
imagecodecs @ file:///work/perseverance-python-buildout/croot/imagecodecs_1698851963060/work
imageio @ file:///croot/imageio_1707247282708/work
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
lazy_loader @ file:///work/perseverance-python-buildout/croot/lazy_loader_1698864613776/work
matplotlib @ file:///croot/matplotlib-suite_1713336378214/work
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
munkres==1.1.4
networkx @ file:///work/perseverance-python-buildout/croot/networkx_1698865062738/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
packaging @ file:///croot/packaging_1710807400464/work
pillow @ file:///croot/pillow_1707233021655/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
pyparsing @ file:///work/perseverance-python-buildout/croot/pyparsing_1698847881454/work
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
scikit-image @ file:///croot/scikit-image_1707346116243/work
scipy @ file:///croot/scipy_1710947333060/work/dist/scipy-1.12.0-cp312-cp312-linux_x86_64.whl#sha256=68ddf853c338a42d9bfea9e41f301327ac0c16ab685e3d12b6fc17bce5b92ab4
setuptools==68.2.2
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tifffile @ file:///work/perseverance-python-buildout/croot/tifffile_1698866341575/work
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
wheel==0.41.2
